body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:80px;
    
}
.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
    text-decoration:none;
}
.logo img{
height:110px;
width:auto;
display:block;
}

/* Navbar */

.navbar{
height:120px;
background:#f4f4f4;
display:flex;
align-items:center;
width:100%;
z-index:1000;
position:fixed;
top:0;
left:0;
transition:all 0.3s ease;

}
.navbar.shrink{
height:80px;
box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.navbar.shrink .logo img{
height:80px;
transition:all 0.6s ease;
}

.nav-container{
display:flex;
align-items:center;
justify-content:space-between;
max-width:1200px;
margin:0 auto;
width:100%;
padding:0 20px;
 
}

/* Navigation links */
.nav-links{
    list-style:none;
    display:flex;
    font-size:19px;
    gap:25px;
    margin:0;
    padding:0;
}
.nav-links li{
display:flex;
align-items:center;
}

.nav-links a{
    color:rgb(0, 0, 0);
    text-decoration:none;
}

.nav-links .contact-btn{
background:#1f86c7;
color:#fff;
padding:10px 22px;
border-radius:5px;
text-decoration:none;
display:inline-block;
font-weight:500;
}

.nav-links .contact-btn:hover{
background:#166aa1;
}

/* Hero Section */
.hero{
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
     background:#e8f3ff; 
    padding:80px 20px;
}

.hero-content{
    max-width:900px;
    
}
.hero-content a{
        display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#4d97f7d5;
    color:white;
    text-decoration:none;
    border-radius:4px;
}
.hero p{
    line-height:1.7;
    margin-bottom:25px;
    color:#555;
    font-size:20px;
}

.hero h1{
    font-size:40px;
}
.page-banner{
height:550px;
background:
linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),url("../images/hospital.jpg") center/cover no-repeat;
display:flex;
align-items:flex-end;
justify-content:flex-start;
text-align:left;
color:white;
font-size: 26px;
font-family: Georgia, serif;
margin-top:0px;
}
.banner-container{
max-width:1200px;
margin:0 auto;
padding:0 20px;
padding-left:300px;
width:100%;
}

.page-banner-objective{
height:550px;
background:
linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),url("../images/hospital2.jpg") center/cover no-repeat;
display:flex;
align-items:flex-end;
justify-content:flex-start;
text-align:left;
color:white;
font-size: 24px;
font-family: Georgia, serif;
margin-top:0px;
}
.page-banner-resources{
height:550px;
background:
linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),url("../images/hospital5.jpg") center/cover no-repeat;
display:flex;
align-items:flex-end;
justify-content:flex-start;
text-align:left;
color:white;
font-size: 24px;
font-family: Georgia, serif;
margin-top:0px;
}

.page-banner-corevalues{
height:550px;
background:
linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),url("../images/hospital3.jpg") center/cover no-repeat;
display:flex;
align-items:flex-end;
justify-content:flex-start;
text-align:left;
color:white;
font-size: 24px;
font-family: Georgia, serif;
margin-top:0px;
}
.page-banner-contact{
height:550px;
background:
linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8)),url("../images/hospital3.jpg") center/cover no-repeat;
display:flex;
align-items:flex-end;
justify-content:flex-start;
text-align:left;
color:white;
font-size: 24px;
font-family: Georgia, serif;
margin-top:0px;

}


.mission-hero{
     background: #f2f4f7;
}
.mission-hero p{
    text-align:left;
    font-size:19px;
    line-height:1.8;
}

.mission-hero strong{
    font-size:20px;
    color:#222;
}

.strategy-hero{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px 20px;
}

.strategy-hero .hero-content{
    max-width:900px;
}

.strategy-hero h1{
    text-align:center;
    font-size:40px;
    margin-bottom:30px;
}

.strategy-list{
    font-size:18px;
    line-height:1.8;
    text-align:center;
    color:#555;
    padding-left:20px;
    
}

.strategy-list li{
    margin-bottom:15px;
}
.overview-hero p{
    text-align: justify;
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 20px;
}
.overview-hero{
  background:#e8f3ff; 
}

/* Objectives Section */
.objectives-hero{
    padding:80px 20px;
     background:#e8f3ff; 
}


.objectives-list{
    max-width:900px;
    margin:auto;
    font-size:18px;
    line-height:1.8;
    color:#555;
    text-align:left; 
}

.objectives-list li{
    margin-bottom:18px;
}
.resources-hero{
    padding:80px 20px;
}

.resources-hero h2{
    font-size:24px;
    margin-top:30px;
    margin-bottom:15px;
    text-align:left;
    color:#333;
}

.resource-list{
    max-width:900px;
    margin:auto;
    font-size:18px;
    line-height:1.8;
    color:#555;
    text-align:left;
}

.resource-list li{
    margin-bottom:15px;
}
/* TEAM PAGE */

.team-section{
    padding:80px 20px;
    text-align:center;
}

.team-section h1{
    font-size:32px;
    margin-bottom:40px;
    color:#0a4c6e;
}

.team-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:30px;
    max-width:1000px;
    margin:auto;
}

.team-single{
    display:flex;
    justify-content:center;
    margin-bottom:60px;
}

.team-card{
    width:220px;
    background:rgb(255, 254, 254);
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.team-card:hover{
    transform:translateY(-5px);
}

.team-card img{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
    margin:20px auto 10px;
    display:block;
    border:4px solid #f0f0f0;
}
.team-info{
    padding:15px;
}

.team-info h3{
    font-size:16px;
    margin-bottom:5px;
}

.team-info p{
    font-size:12px;
    color:#0a4c6e;
    font-weight:bold;
    letter-spacing:1px;
}

/* TEAM CONTACT INFO */

.team-contact{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:6px;
    font-size:13px;
    margin-top:6px;
}

.team-contact i{
    margin-right:6px;
    color:#0a4c6e;
}

.team-contact a{
    text-decoration:none;
    color:#555;
    white-space:nowrap;   /* prevents line break */
    overflow:hidden;
    text-overflow:ellipsis; /* shows ... if too long */
}

.team-contact a:hover{
    color:#0a4c6e;
}

/* Services */

.services{
    padding:80px 40px;
    text-align:center;
    
}

.service-container{
    display:flex;
    justify-content:center;
    
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
    gap:40px;
    margin-top:40px;
}

.card{
    background:#2b2b2b;   /* dark box background */
    color:white;         /* text color */
    text-align:left;
    padding:30px;
    width:300px;
    
    border-radius:10px;  /* rounded corners */
    
    box-shadow:0 8px 20px rgba(0,0,0,0.2);

    transition:transform 0.3s ease;
}
.card:hover{
    transform:translateY(-8px);
}

.card ul{
    padding-left:20px;
}

.card li{
    margin-bottom:8px;
    font-size:14px;
}
.card a{
    text-decoration:none;
    font-weight:bold;
    color:#f7f0f0;
}

/* Footer */

/* FOOTER */
.footer-container{
   display:flex;
    justify-content:flex-start;
    padding-left:320px;
    max-width:1200px;
    margin:0 auto;
    padding:0 20px;
    gap:40px;
    margin-top:40px;
    
}
.footer{
    background: linear-gradient(135deg,#0c6fa5,#0e88b7);
    color:white;
    padding:50px 20px;
    
    justify-content:center;
}

.footer-column{
    width:250px;
    
}
.contact-column{
    width:320px;
}
.contact-item a{
    color:white;
    text-decoration:none;
}
.contact-item{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:5px;
    line-height:0.8;
}
.contact-item a:hover{
    text-decoration:underline;
}
.footer-column h3{
    margin-bottom:15px;
}

.footer-column p i{
    width:20px;
    margin-right:1px;
}

.footer-column ul{
    list-style:none;
    padding:0;
}

.footer-column li{
    margin-bottom:8px;
}

.footer-column a{
    color:white;
    text-decoration:none;
}

/* Connect text */

.connect{
    margin-top:20px;
}

/* Social icons */

.social-icons{
    display:flex;
    gap:12px;
    margin-top:10px;
     justify-content: center;
}

.social-icons a{
    display:flex;
    justify-content:center;
    align-items:center;

    width:40px;
    height:40px;

    background:white;
    color:#0c6fa5;

    border-radius:50%;
    text-decoration:none;
}

.social-icons a:hover{
    background:#083c57;
    color:white;
}
.footer-social{
    text-align:center;
    margin-top:30px;
    
}
.footer-social{
    text-align:center;
    margin-top:30px;
    padding-top:20px;
    border-top:1px solid rgba(255,255,255,0.3);
}
.footer-social h3{
    margin-bottom:10px;
}
.footer-social{
    justify-content:center;
    margin-top:30px;
}

.social-wrapper{
    text-align:center;
}
.footer-copy{
    margin-top:12px;
    font-size:14px;
    opacity:0.8;
}
/* 
dropdwn */
.dropdown{
position:relative;
}

.dropdown-menu{
position:absolute;
top:100%;
left:0;

background:#e6e6f2;

list-style:none;
padding:10px 0;

width:220px;

display:none;
}

.dropdown-menu li{
padding:10px 20px;
}

.dropdown-menu a{
color: rgb(0, 0, 0);
text-decoration:none;
display:block;
}

.dropdown:hover .dropdown-menu{
display:block;
}
.dropdown-menu li:hover{
background:#d4d4e6;
}

/* CONTACT SECTION */

.contact-section{
padding:80px 20px;
}

.contact-container{
max-width:1100px;
margin:auto;
display:flex;
gap:40px;
align-items:flex-start;
}

.contact-form{
flex:2;
}

.contact-text{
margin-bottom:30px;
color:#555;
line-height:1.7;
font-size:18px; 
}

.contact-form label{
display:block;
margin-top:20px;
font-size:16px;
}

.contact-form input,
.contact-form textarea{
width:100%;
border:none;
border-bottom:1px solid #ccc;
padding:10px 0;
font-size:15px;
outline:none;
}

.contact-form textarea{
resize:none;
}

.contact-form button{
margin-top:25px;
background:#1f86c7;
color:#fff;
border:none;
padding:12px 28px;
cursor:pointer;
}

.contact-form button:hover{
background:#176a9c;
}


/* CONTACT INFO CARD */

.contact-info{
flex:1;
background:#f7f7f7;
padding:25px;
border-radius:6px;
}

.contact-info h4{
margin-top:20px;
font-size:14px;
color:#444;
}

.contact-info p{
margin-top:5px;
color:#666;
font-size:16px;

}

.contact-info i{
margin-right:6px;
color:#1f86c7;

}
.contact-info a{
margin-right:6px;
text-decoration:none;
color:#000407;
line-height:1.8;

}
.contact-info a:hover{
text-decoration:underline;   }

.social-links{
list-style:none;
padding:0;
margin-top:5px;
}

.social-links li{
font-size:16px;
margin-top:6px;
color:#444;
}

.map-section{
margin-top:60px;
display:flex;
justify-content:center;
margin-bottom:60px;
}
.map-container{
width:100%;
max-width:1000px;
}
.map-section iframe{
width:100%;
height:420px;
border:0;
}

.hero-slider{
    padding:40px 10%;
}

.slider-container{
    position:relative;
    height:650px;
    width: 1300px;
    overflow:hidden;
    border-radius:10px;
       margin:0 auto;
}

.slide{
    position:absolute;
    width:100%;
    height:100%;
    opacity:0;
    transition:opacity 0.6s ease;
    pointer-events:none;
}

.slide.active{
    opacity:1;
    pointer-events:auto;
    
}

.slide img{
    width:100%;
    height:100%;
    object-fit:cover;
    pointer-events:none;
    transition: transform 0.6s ease;
}
/* TEXT BOX */

.slide-content{
    position:absolute;
    bottom:30px;
    left:60px;
    background:rgba(0,0,0,0.6);
    color:white;
    padding:20px;
    border-radius:8px;
    max-width:1000px;
    z-index:5;
    opacity:0;
    transform:translateY(20px);
    transition:0.4s;
}
.slide.active:hover img{
    transform: scale(1.08);
}
/* show when hovering the visible slide */
.slide.active:hover .slide-content{
    opacity:1;
    transform:translateY(0);
}

.learn-btn{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#4d97f7d5;
    color:white;
    text-decoration:none;
    border-radius:4px;
}

.learn-btn:hover{
    background:#4d97f7d5;
}

/* ARROWS */

.prev, .next{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    background:rgba(0,0,0,0.5);
    color:white;
    border:none;
    font-size:28px;
    padding:10px 15px;
    cursor:pointer;
}

.prev{ left:10px; }
.next{ right:10px; }

.gallery-section{
padding:80px 20px;
text-align:center;
}

.gallery-title{
font-size:36px;
margin-bottom:40px;
}

.gallery-container{
max-width:1200px;
margin:auto;

display:grid;
grid-template-columns:repeat(5,1fr);
gap:15px;
}

.gallery-container img{
width:100%;
height:200px;
object-fit:cover;
border-radius:4px;
transition:transform 0.3s ease;
}

.gallery-container img:hover{
transform:scale(1.05);
}

.gallery-item{
overflow:hidden;
border-radius:4px;
}
